@charset "UTF-8";
/* CSS Document */

/*Remove this rule, this is only for demo purposes to make the boxes black with white text
The line height on the <p> tag gives each box a height value*/

p
{
	color: #000;
	line-height: 100px;
	
	text-align: center;
	margin: 0;
}

/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333;
}


/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited 
{ 
 	text-decoration:none; 	
}

a:hover, a:active 
{ 
	text-decoration:none; 
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*section is block level and no width specidied therefore stretches full screen*/
#topBar
{
	background-color: #4d4d4d;
	height: 20px;
}

/*Site Container*/
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 920px;
	padding-left: 20px;
	padding-right: 20px;
}

/*This is a flex container*/
#mainHeader
{
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 1px #DDD;
}

/*This is a flex item*/
#logo
{
	width: 200px;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/
#mainNav 
{
	margin-left: auto;
	width: 300px;
	display: flex;
	flex-direction: row;
}

#promo 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

.googlefont1 {
	font-size: 110px;
	font-family: 'Six Caps', sans-serif;
}

.googlefont2 {
	font-size: 35px;
	font-family: 'Covered By Your Grace', cursive;
}
.googlefont3 {
	font-size: 20px;
	font-family: 'Covered By Your Grace', cursive;
}

#promo p 
{
	line-height: 35px;
	text-align: left;
}

#footertext
{
line-height: 35px;
text-align: left;	
}

#promoText 
{
	width: 600px;
	height: 400px;
}

#promoImage 
{
	margin-left: auto;
	width: 280px;
}

#productInfo 
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-around;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	width: 1100px;
}

.productDesc 
{
	width: 300px;
}

#mainFooter 
{
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;

}

#footerNav 
{
	width: 500px;
}

#copyRight {
	border-radius: 5px;
	text-align: center;
	margin: 10px;
	width: 500px;
	margin-left: auto;
}

/*Page 3*/

#productImages 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
 	justify-content: space-around;
}


.productImg 
{
	width: 600px;
;
}


#contentAreaBig
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}


#promoImageBig
{
	width: 920px;
}


/*Page 4*/

.productDescLargeLeft 
{
	width: 210px;
}

.productDescLargeRight 
{
	width: 600px;
}

.box1{
	background-color: #f9d31a;
	color: white;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
	width: 50px;
}
.box2{
	background-color: #4d4d4d;
	color: white;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
	width: 50px;
}
.box3{
	background-color: #222222;
	color: white;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
	width: 50px;

}

.box4{
	justify-content: right;
	width: 300px;
}

.contact {
	width: 300px;
	height: 150px;
}